# build artifacts
*.o

# runners
linuxplus-learn
linuxlearner*

# debug
*.log

# ncurses/editor noise
*~

# any log file created by Thomas
*logs.txt

# any lab output
output.txt

# binary distribution
dist
*Bin

# don't try to upload old labs
labs_old

#backups for the labs folder
labs_backup

#saves for testing
*.set

#todo notes
todo.txt

# editor
.vscode/
.idea/
